<%= erb :_header %>

	<center>

		<header class='<%= @error_class %>'></header>
		<a href="/"><span class="login_title"><%= @title %></span></a><br>
		<span class="login_slogan"><%= @slogan %></span>

		<div class="signupsuccess" style="color: red;">
			<%= "#{@error}" %>
		</div>
		<a href='<%= @back_url %>'><button>Go Back</button></a>

	</center>
</body>
</html>