<%= erb :_header %>

	<% if session[:nickname]==nil %>

		<center>
		<header class="login"></header>
		<a href="/"><span class="login_title"><%= @title %></span></a><br>
		<span class="login_slogan"><%= @slogan %></span>

		<section class="login">
			<form action="/" method="post">
				<input type="text" name="nickname" placeholder="nickname">
				<input type="password" name="pin" maxlength="4" placeholder="enter pin"><br>
				<button name="submit" value="yes"> Login</button>
			</form><br><br>
			Wanna track your stats?<br>
			<a href="/sign_up" style="color:#eee;">> Create a Profile <</a>
		</section>	
		</center>

	<% elsif session[:nickname] %>

		<div class="container-fluid">
			<%= erb :_menu %>
			<div class="row">
				<header class="home"></header>
			</div>
			<div class="row">
				<a href="/play_game"><button name="Play Game">
					Play
				</button></a>
			</div>

		</div>

	<%end%>

<%= erb :_footer %>